@import "tailwindcss";
@import "./components.css";
@import "./base.css";

@variant dark (&:where(.dark, .dark *));

@theme {
    --color-black: #000000;
    --color-white: #FFFFFF;

    /* --- PRIMARY --- */
    --color-primary-700: #1228A6;
    --color-primary-600: #3043B1;
    --color-primary-500: #4D5EBC;
    --color-primary-400: #6B79C7;
    --color-primary-300: #8994D3;
    --color-primary-200: #A6AEDE;
    --color-primary-100: #C4C9E9;
    --color-primary-50: #E1E4F4;

    /* --- AUXILIARY --- */
    --color-auxiliary-700: #F28A2E;
    --color-auxiliary-600: #F29543;
    --color-auxiliary-500: #F2A159;
    --color-auxiliary-400: #F2AC6E;
    --color-auxiliary-300: #F2B884;
    --color-auxiliary-200: #F2C399;
    --color-auxiliary-100: #F2CFAF;
    --color-auxiliary-50: #F2DAC4;

    /* --- DANGER --- */
    --color-danger-700: #C6362E;
    --color-danger-600: #CD4F48;
    --color-danger-500: #D46862;
    --color-danger-400: #DB817C;
    --color-danger-300: #E39B97;
    --color-danger-200: #EAB4B1;
    --color-danger-100: #F1CDCB;
    --color-danger-50: #F8E6E5;

    /* --- WARNING --- */
    --color-warning-700: #E6B325;
    --color-warning-600: #E9BD40;
    --color-warning-500: #ECC65C;
    --color-warning-400: #EFD077;
    --color-warning-300: #F3D992;
    --color-warning-200: #F6E3AD;
    --color-warning-100: #F9ECC9;
    --color-warning-50: #FCF6E4;

    /* --- SUCCESS --- */
    --color-success-700: #2E8F5B;
    --color-success-600: #489D70;
    --color-success-500: #62AB84;
    --color-success-400: #7CB999;
    --color-success-300: #97C7AD;
    --color-success-200: #B1D5C2;
    --color-success-100: #CBE3D6;
    --color-success-50: #E5F1EB;

    /* --- TYPOGRAPHY --- */
    --font-display: Montserrat, sans-serif, system-ui;
    --font-body: Manrope, Consolas, ui-monospace;
}

/* Activa el modo oscuro oficial de Tailwind v4 mediante clases */
@custom-variant dark (&:is(.dark *));

@layer base {

    body {
        /* Fondo blanco/texto negro en claro, fondo oscuro/texto blanco en oscuro, con transición */
        @apply font-normal font-body bg-white text-black dark:bg-gray-950 dark:text-white transition-colors duration-300;
    }

    header {
        /* Mismos fondos para que el header combine, con transición */
        @apply flex items-center justify-between px-6 py-4 h-20 sticky top-0 z-50 bg-white dark:bg-gray-950 transition-colors duration-300;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-display;
    }

    h3 {
        @apply text-3xl font-medium font-display;
    }

    button {
        @apply h-10 min-w-22.5 flex items-center justify-center px-2 gap-1 rounded;
        @apply font-body font-normal text-base cursor-pointer;
        @apply transition-all duration-300 ease-in-out;
        @apply hover:font-medium hover:shadow-lg hover:-translate-y-0.5;
        @apply active:scale-95 active:translate-y-0;
    }
}